.product-background-dark {
  background-color:  #204a87 ;
  border-radius: 3px;
}
.product-background {
  background-color:  #a5c9f0 ;
  border-radius: 3px;
}

.stopover-background {
  background-color: @card_bg_color;
  border-radius: 0px;
}